/* MASTHEAD SECTIONS ---------------------------------------------------------- */
#mastnav {
	clear: both;
	height: 20px;
	overflow: hidden;
}
#header {
	margin: 0;
	padding: 0;
	height: 100px; /* height: 120px; */
	overflow: hidden;
}
#nav {
	clear: both;
	height: 30px;
	overflow: hidden;
	background-color: #00575b;
}

/* IMAGES ---------------------------------------------------------- */ 

.imgsponser {
	margin: 0;
	padding: 50px 0 0 0;
	float: right;
	border: none;
}

.imgsponserV2 {
	margin: 0;
	padding: 37px 0 0 0;
	float: right;
	border: none;
}

/* HEADERS ---------------------------------------------------------- */ 

h1{
	margin: 0;
	padding: 25px 0 0 20px; /* padding: 40px 0 0 20px; */
	font-family: Georgia, serif;
	font-size: 210%;/* 18px; */
	font-weight: normal;
}
.tagline {
	font-size: 14px;
}

/* MASTHEAD SUB NAVIGATION  ---------------------------------------------------------- */

.mast {
	float: right;
}
#mastnav ul,
#mastnav li {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* Top mastnav */
#mastnav ul.mast {
	/*
	background: #fff;
	*/
}
#mastnav ul.mast li {
	float: left;
}
#mastnav ul.mast a {
	background-repeat: no-repeat;
	display: block;
	height: 20px;
	text-indent: -1000em;
	text-decoration: none;
}
#mastnav ul.mast a:hover,
body.section-about li#mastnav-about a,
body.section-metalibrary li#mastnav-metalibrary a,
body.section-bookstore li#mastnav-bookstore a,
body.section-sitemap li#mastnav-sitemap a {
	background-position: 0 -20px;
}
#mastnav ul.mast a.active,
body.section-about li#mastnav-about a,
body.section-metalibrary li#mastnav-metalibrary a,
body.section-bookstore li#mastnav-bookstore a,
body.section-sitemap li#mastnav-sitemap a {
	background-position: 0 -20px;
}
li#mastnav-about a {
	background-image: url(../navigation/mastnav_btn_about.gif);
	width: 60px;
}
li#mastnav-bookstore a {
	background-image: url(../navigation/mastnav_btn_bookstore.gif);
	width: 91px;
}
li#mastnav-sitemap a {
	background-image: url(../navigation/mastnav_btn_sitemap.gif);
	width: 70px;
}

#mastnav ul.mast {
	/*
	background: #DFDFDF;
	*/
}

/* MAIN NAVIGATION ---------------------------------------------------------- */

#nav ul,
#nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* Top nav */
#nav ul.top {
	background: #FFF;
}
#nav ul.top li {
	float: left;
}
#nav ul.top a {
	background-repeat: no-repeat;
	display: block;
	height: 30px;
	text-indent: -1000em;
	text-decoration: none;
}
#nav ul.top a:hover,
body.section-home li#nav-home a,
body.section-about li#nav-about a,
body.section-list li#nav-list a,
body.section-news li#nav-news a,
body.section-metalibrary li#nav-metalibrary a,
body.section-bulletin li#nav-bulletin a,
body.section-guide li#nav-guide a,
body.section-blog li#nav-blog a,
body.section-consider li#nav-consider a,
body.section-bookstore li#nav-bookstore a,
body.section-sitemap li#nav-sitemap a {
	background-position: 0 -30px;
}
#nav ul.top a.active,
body.section-home li#nav-home a,
body.section-about li#nav-about a,
body.section-list li#nav-list a,
body.section-news li#nav-news a,
body.section-metalibrary li#nav-metalibrary a,
body.section-bulletin li#nav-bulletin a,
body.section-guide li#nav-guide a,
body.section-blog li#nav-blog a,
body.section-consider li#nav-consider a,
body.section-bookstore li#nav-bookstore a,
body.section-sitemap li#nav-sitemap a {
	background-position: 0 -30px;
}
li#nav-home a {
	background-image: url(../navigation/nav_btn_home.gif);
	width: 73px; /* width: 55px; */
}

li#nav-about a {
	background-image: url(../navigation/nav_btn_about.gif);
	width: 63px;
}
li#nav-blog a {
	background-image: url(../navigation/nav_btn_blog.gif);
	width: 71px; /* width: 51px; */
}
li#nav-bulletin a {
	background-image: url(../navigation/nav_btn_bulletin.gif);
	width: 92px; /* width: 75px; */
}
li#nav-metalibrary a {
	background-image: url(../navigation/nav_btn_metalibrary.gif);
	width: 120px;
}
li#nav-guide a {
	background-image: url(../navigation/nav_btn_guide.gif);
	width: 74px; /* width: 56px; */
}
li#nav-news a {
	background-image: url(../navigation/nav_btn_news.gif);
	width: 71px; /* width: 51px; */
}
li#nav-consider a {
	background-image: url(../navigation/nav_btn_consider.gif);
	width: 132px; /* width: 110px; */
}
li#nav-list a {
	background-image: url(../navigation/nav_btn_list.gif);
	width: 65px; /* width: 44px; */
}
/*
li#nav-bookstore a {
	background-image: url(../navigation/nav_btn_bookstore.gif);
	width: 91px;
}
li#nav-sitemap a {
	background-image: url(../navigation/nav_btn_sitemap.gif);
	width: 67px;
}
*/
#nav ul.sub {
	background: #DFDFDF;
}
