/* ---------------------------------------------------------- */
/* NEWS STRUCTURE */
/* ---------------------------------------------------------- */
.NewsContent {
	margin: 0px;
	padding: 0px;
	clear: both;
	background: #ffffff;
	display:block;
}

.NewsSideSponsor {
	width: 154px;
	background: #f2f6f6;
	margin: 12px 0px 0px 0px;
	padding: 0px;
	float: left;
}

.NewsMain {
	width: 580px;
	margin: 0px;
	padding: 0px 0px 0px 22px;
	float: left;
}

.NewsMain h1 {
	font-family: georgia,serif;
	font-size: 28px;
	color: #000000;
	text-align: center;
	margin: 0px;
	padding: 15px 0px 0px 0px;
}

.NewsMain h6 {
	font-family: georgia,serif;
	font-size: 18px;
	color: #000000;
	text-align: center;
	margin: 0px;
	padding: 8px 0px 8px 0px;
}

/* ---------------------------------------------------------- */
/* QUOTE AND BLOG FORMATTING */
/* ---------------------------------------------------------- */

table.NewsQuoteBlog { 
	background: #f2f6f6;
	width: 580px;
	margin: 10px 0px 10px 0px;
	padding: 0px;
}

table.NewsQuoteBlog td { padding: 0px 0px 10px 0px; }

.NewsQuoteBlogHead {
	font-family: georgia,serif;
	font-size: 20px;
	color: #000000;
	text-align: left;
	margin: 0px;
	padding: 10px 15px 0px 15px;
}

table.NewsQuoteBlog p { 
	padding: 7px 15px 0px 15px;
}

.NewsBlogDate {
	font-family: georgia,serif;
	font-size: 15px;
	color: #000000;
	text-align: left;
	margin: 0px;
	padding: 10px 0px 2px 0px;
}

table.NewsBlogEntry { 
	width: 580px;
	margin: 0px;
	padding: 0px;
}

.NewsBlogEntryHead {
	font-family: georgia,serif;
	font-size: 20px;
	color: #000000;
	text-align: left;
	margin: 0px;
	padding: 10px 15px 0px 0px;
}

.NewsLatestHead {
	font-family: georgia,serif;
	font-size: 20px;
	color: #000000;
	text-align: left;
	margin: 0px;
	padding: 12px 0px 0px 0px;
}

/* ---------------------------------------------------------- */
/* GENERAL */
/* ---------------------------------------------------------- */

li.numbers {
	list-style-type: decimal;
	padding-left: 0px;
	margin-left: 20px;
	background-image: none;
	background-position: 0 0;
	background-repeat: no-repeat;
}

/* ---------------------------------------------------------- */
/* ARCHIVE PAGE */
/* ---------------------------------------------------------- */
form { display: inline; }

input { font-family: verdana,helvetica,sans-serif; color: #000000; font-size: 11px; }

select { font-family: verdana,helvetica,sans-serif; color: #000000; font-size: 11px; margin: 0px 0px 7px 0px; }

table.tableArchive td { vertical-align: top; }

.PageOn {
	background-color: #000099;
	color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
}

.NewsExpandLinks {
	width: 49%;
	margin: 0px;
	float: left;
}

.NewsExpandLinks p {
	font-size: 12px;
	margin: 14px 20px 0px 60px;
}

.NewsExpandLinks a:link, .NewsExpandLinks a:visited {
	color: #000099;
}


/* ---------------------------------------------------------- */
/* RULES */
/* ---------------------------------------------------------- */
div.hr { display: none; }
/*/*/a{}
div.hr {
	display: block;
	height: 11px;
	background: url(../images/layout/hr_rule.gif) no-repeat center center;
	margin: 0px;
	padding: 0px;
}
hr { display:none; }