/* ---------------------------------------------------------- */
/* SIDEBAR TOOL SETS */
/* ---------------------------------------------------------- */
fieldset {
	width: 146px;
	padding: 0px;
	margin: 0px;
	border: #eae7e2 4px solid;
}

legend {
	font-family: verdana,arial,sans-serif;
	font-size: 12px;
	text-align: left;
	color: #666666;
	padding: 0px;
	margin: 0px 0px 0px 8px;
}

.toolSetA, .toolSetB, .toolSetC  { 
	float: left;
	margin: 12px 0px 0px 0px;
}

.toolSetC  { 
	float: left;
	margin: 0 0 10px;
}

.toolSetA p, .toolSetB p, .toolSetC p  {
	font-family: verdana,arial,sans-serif;
	font-size: 12px;
	text-align: left;
	margin: 0px;
	padding: 0px;
}

.toolSetB p.TextSize { padding: 5px 0px 0px 9px; line-height:13px; }

.toolSetA a:link, .toolSetA a:visited, .toolSetB a:link, .toolSetB a:visited {
	font-family: verdana,arial,sans-serif;
	font-size: 12px;
	color: #001c9d;
	text-decoration: underline;
}

.toolSetA a:hover, .toolSetB a:hover { text-decoration: none; }

a.subscribe:link, a.subscribe:visited {
	padding: 0px 0px 0px 20px;
	margin: 4px 0px 4px 4px;
	background: url(../images/icons/icon_a_subscribe.gif) no-repeat 0 0;
	display:block;
}

a.buybooks:link, a.buybooks:visited {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 4px 4px;
	background: url(../images/icons/icon_a_support.gif) no-repeat 0 0;
	display:block;
}

a.email:link, a.email:visited {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 4px 4px;
	background: url(../images/icons/icon_a_email.gif) no-repeat 0 0;
	display:block;
}

a.communications:link, a.communications:visited {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 4px 4px;
	background: url(../images/icons/icon_a_comm.gif) no-repeat 0 0;
	display:block;
}

a.press:link, a.press:visited {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 5px 4px;
	background: url(../images/icons/icon_a_press.gif) no-repeat 0 0;
	display:block;
}

a.sitetour:link, a.sitetour:visited {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 10px 4px;
	background: url(../images/icons/icon_a_sitetour.gif) no-repeat 0 0;
	display:block;
}

a.rss:link, a.rss:visited {
	padding: 0px 0px 0px 20px;
	margin: 5px 0px 10px 4px;
	background: url(../images/icons/icon_a_rss2.gif) no-repeat 0 0;
	display:block;
}