.pwdTextBox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 2px 0px; VERTICAL-ALIGN: top; PADDING-TOP: 2px
}
.dashes5 {
	BACKGROUND-POSITION: left bottom; FONT-SIZE: 1px; BACKGROUND-IMAGE: url(/ccpmweb/shared/image/bk-dash.gif); MARGIN-BOTTOM: 5px; MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 4px
}
.footerHome {
	MARGIN-TOP: 10px; BACKGROUND-IMAGE: url(/ccpmweb/generic/image/footer_gradient.gif); WIDTH: 100%; BACKGROUND-REPEAT: repeat-x
}
