.pageWidth {
	WIDTH: 779px
}
.gheader_logo_pad {
	PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.gheader_logo_margin {
	MARGIN: 15px 17px
}
.gheader_gnav_font {
	PADDING-LEFT: 2px; FONT-SIZE: 70%; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: bottom; COLOR: #666666; PADDING-TOP: 5px; FONT-FAMILY: arial
}
A.gheader_gnav__bold_link:link {
	FONT-WEIGHT: bold; COLOR: #074580; TEXT-DECORATION: none
}
A.gheader_gnav__bold_link:visited {
	FONT-WEIGHT: bold; COLOR: #074580; TEXT-DECORATION: none
}
A.gheader_gnav__bold_link:active {
	FONT-WEIGHT: bold; COLOR: #074580; TEXT-DECORATION: underline
}
A.gheader_gnav__bold_link:hover {
	FONT-WEIGHT: bold; COLOR: #074580; TEXT-DECORATION: underline
}
A.gheader_gnav_link:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.gheader_gnav_link:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.gheader_gnav_link:active {
	COLOR: #666666; TEXT-DECORATION: underline
}
A.gheader_gnav_link:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
.inputTextBox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 2px 0px; VERTICAL-ALIGN: top; PADDING-TOP: 2px
}
.logonFormFieldBox {
	MARGIN: -2px 0px 0px 20px
}
.pageText {
	FONT: 0.7em Arial, Helvetica, sans-serif; COLOR: #666666
}
.body_bottom_bufferdn {
	HEIGHT: 80px
}
.body_bottom_bufferup {
	HEIGHT: 115px
}
.home_bottom_adbox {
	TEXT-ALIGN: center
}
.right_article_buffer {
	HEIGHT: 90px
}
